.mitxt{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imga{
    width: 25%;
    height: 300px;
}
p {
    color: #333; /* Color de texto predeterminado (negro o gris oscuro) */
    font-size: 16px;
    line-height: 1.5;
  }
  h1 {
    color: #FF0000; /* Rojo */
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  /* Estilos para la tarjeta de receta en general */
.recipe-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  /* Estilos para el título de la receta */
  .recipe-title {
    color: #ff0000;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  /* Estilos para la imagen de la receta */
  .recipe-image img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Estilos para los detalles de la receta */
  .recipe-details {
    margin-top: 10px;
  }
  
  /* Estilos para la categoría y el área */
  .recipe-category, .recipe-area {
    font-size: 18px;
    color: black;
  }
  
  /* Estilos para las instrucciones */
  .recipe-instructions {
    margin-top: 20px;
  }
  
  /* Estilos para el título de las instrucciones */
  .instruction-title {
    color: #ff0000;
    font-size: 20px;
  }
  
  /* Estilos para las instrucciones */
  .recipe-instructions p {
    font-size: 16px;
    color: black;
    line-height: 1.5;
  }
  
  /* Estilos para el video de YouTube */
  .recipe-video {
    margin-top: 20px;
  }
  
  /* Estilos para los ingredientes */
  .recipe-ingredients {
    margin-top: 20px;
  }
  
  /* Estilos para el título de los ingredientes */
  .ingredient-title {
    color: #ff0000;
    font-size: 20px;
  }
  
  /* Estilos para la lista de ingredientes */
  .ingredient-list {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para los elementos de la lista de ingredientes */
  .ingredient {
    font-size: 16px;
    color: black;
  }
  .recipe-card{
    background-image: url('https://th.bing.com/th/id/OIP.0OxZ8tf1HjiemkglflvvIgHaDt?pid=ImgDet&rs=1');
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  background-size: cover;
  }
  